@charset "utf-8";

section {width:100%; height:5000px; margin:0 auto; background-color:#fff; }


  * {box-sizing:border-box;}

  body {font-family: "S-CoreDream-4Regular"; font-size:15px; color:#000;}


  #sub_product {width: 590; height: 600; float:right; background-color: #eee;
                margin:-500px 500px 0 50px;}
  #sub_product_box {width: 590; height: 600; margin: 0 auto;  float:right; color:pink; position:relative;padding-top:0px;}
  #sub_product_box h1 {text-align:left; font-family: "S-CoreDream-4Regular";
  font-size:13px; color:#000;}
  #sub_product_box h2 {text-align:left; font-family: "S-CoreDream-4Regular";
  font-size:18px; color:#000;}

  #sub_product_box h3{text-align:left; font-family: "S-CoreDream-4Regular";
    font-size:14px; color:#000;}


  #sub_product_box h4{text-align:left; font-family: "S-CoreDream-4Regular";
   font-size:12px; color:#000;}




