@charset "utf-8";

section {width:100%; height:26360px; margin:0 auto; background-color:#fff; }

#sub {width:1190px; height:auto; margin:0 auto; padding-top: 50px;}


#sub_product {width: 1190px; height:860px; margin: 0 auto; background-color: #fff; border:none; }
   
  
  
   
   
  .sub_box {width: 590px; height: 860px; }
  .sub_box:first-of-type {float:left; margin:0px 0 0 0px; background-color: #fff;}
  .sub_box:first-of-type img {width:570px; height:743px; }
  #img_click {width:100%; height:110px; background-color:none;}
  .w1 {width:400px; height:300px;}
  #img_click img {width:90px; height:90px;}
  .sub_box li {float:left; margin:5px 10px 0 0;}
  .sub_box li:hover {cursor:pointer; opacity:0.8;}

    

  .sub_box:nth-of-type(2) {float:right; background-color: #fff;}
  .sub_box h1 {color:#000; font-size:13px; margin:0 0 0 12px; padding:10px 10px 0 10px; font-family: "S-CoreDream-2ExtraLight"; letter-spacing:1px;}
  .sub_box h2 {color:#000; font-size:25px; margin:1px 0 25px 8px; padding:0 10px 10px 10px; font-family: "S-CoreDream-3Light"; }

  .sub_box h3 {color:#000; font-size:19px; margin:-50px 0 20px 20px;  font-family: "S-CoreDream-4Regular";display: inline-block;}
  .sub_box h4 {color:#b9b8b8; font-size:13px; font-family: "S-CoreDream-2ExtraLight"; display: inline; margin: 0 0 0 5px;}

  .e_t {color:#000; text-align: center; font-size:11px; letter-spacing:1px;  font-family: "S-CoreDream-4Regular";float:right; width:75px; height:25px; background-color: #fff;  border:1px solid black; margin:0 2px; padding:4px 0; font-weight: bold;}
  .e_t:first-child {width:90px; }

   #choice {width:98%; height:440px; margin:10px auto; border-top:1px solid #ddd; border-bottom:1px solid #ddd; position:relative;}

  .op_c {font-family:"S-CoreDream-5Medium"; font-size:13px; color:#000; margin:120px 20px 0 15px;width:45px;}  

  #thumbnail_box {width:480px; height:280px; padding:2px; margin:-120px 0 0 65px; border:none; display:flex; flex-wrap:wrap; justify-content: center; }
  #thumbnail_box:hover {cursor:pointer;}

  .thumbnail {margin:0 3px;}
  .thumbnail img {min-width:100%; border:none; padding:0; margin:0;
                display:flex; flex-wrap:wrap;}
  .thumbnail img:hover {opacity:0.5;}
  .thumbnail p {font-size:12px; font-family:"S-CoreDream-4Regular"; color:#7f7e7e; margin-top:3px; letter-spacing: px;}

  .op_s {font-family:"S-CoreDream-5Medium"; font-size:13px; color:#000; margin:30px 0px 0 15px;width:45px;}
  #size_box { width: 200px; height: 35px;  display : inline-block;  position: absolute; bottom:82px;left:80px;}
  #size_box p {width:35px; height:35px; font-size:11px; border:1px solid #d3d2d2;font-family:"S-CoreDream-4Regular"; color:#7f7e7e; text-align:center; display : inline-block; padding:9px; margin:0px 0 0 0px;}
  #size_box p:hover {color:#000;}
  #size_box:hover {cursor: pointer; transition: 0.7s;}


  .op_volume {font-family:"S-CoreDream-5Medium"; font-size:13px; color:#000; margin:40px 40px 0 15px;width:45px;}
  select {width:40px; height: 30px; position:absolute; bottom:27px; left:80px; border:1px solid #d3d2d2;text-align:center;}




  #op_button button {font-family:"S-CoreDream-4Regular"; font-size:16px; margin:3px; cursor:pointer;width:100%; height:50px; margin-top:40px;}

  #op_button button:first-child {width: 550px; height: 60px; background-color: #000; border-radius: 10px; padding:0; color:#fff; border:none; margin:58px 0 0 15px;}
  #op_button button:first-child:hover {background-color: #a09fa1; transition: 0.6s;}

  #op_button button:nth-child(2) {width:271px; height: 60px; background-color: #fff; border-radius: 10px; padding:0; color:#000; border:1px solid #000; margin-top:4px; margin:10px 0 0 15px;}
  #op_button button:nth-child(2):hover{background-color: #a09fa1; color:#fff; border:none; transition: 0.7s;}

  #op_button button:nth-child(3) {width:271px;; height: 60px; background-color: #fff; border-radius: 10px; padding:0; color:#000; border:1px solid #000; margin-top:4px; margin:10px 0 0 1px;}
  #op_button button:nth-child(3):hover{background-color: #a09fa1; color:#fff; border:none; transition: 0.7s;}

 
  #together {width:1190px; height: 400px; background-color:none; margin:80px 0 0 0px; }
  #together h1 {font-family:"S-CoreDream-3Light"; font-size:19px; color:#000;}
  .choice2 {width:100%; height:360px; margin:15px auto; border-top:1px solid #ddd; position:relative; background-color:none;}

  .together_box {width: 250px; height: 250px; padding:0px; margin:22px 7px; display:inline-block;}
  .together_box img:hover {opacity: 0.7; cursor:pointer}
  .together_box h2 {font-family:"S-CoreDream-3Light"; font-size:14px; color:#000; text-align:center; margin:12px 0;}
  .together_box h2:hover {cursor:pointer;}
  .together_box p {font-family:"S-CoreDream-4Regular"; font-size:13px; color:#949494; text-align:center; letter-spacing: 1px; margin:-8px 0;}

  
 

  table, tr,th,td {margin:0; padding:0;}
  ul, ol, li {list-style:none; margin:0; padding:0;}
  ul > li > a {color:#000;}
  
  #detail {width:1190px; height:auto; margin:70px auto; font-family:"S-CoreDream-4Regular";}
  #deyail ul {width:1190px; height: 80px; margin:40px auto 0px;}
  #detail ul > li {width: 297px; height:50px; background-color:#eee;
  float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd;
  border-bottom:1px solid #000; font-size:13px;}
  #detail > ul > li:first-child {background-color:#fff; border:1px solid
  #000; border-bottom:none;}

  #detail img {width: 1190px; margin-top:50px;}



  #review {width:1190px; height:820px; margin:70px auto; font-family:"S-CoreDream-4Regular";}
  #review ul {width:1190px; height: 80px; margin:40px auto 0px;}
  #review ul > li {width: 297px; height:50px; background-color:#eee;
  float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd;
  border-bottom:1px solid #000; font-size:13px;}
  #review > ul > li:nth-of-type(2) {background-color:#fff; border:1px solid
  #000; border-bottom:none;}

  #review_tablebox table th {width:80px; border-bottom:1px solid #eee; color:#333;}
  #review_tablebox table td:first-of-type {width: 770px; border-bottom:1px solid #eee;}
  #review_tablebox table td:first-of-type> a {color:#333;}
  #review_tablebox table td:nth-of-type(2) {width: 80px; text-align:center; border-bottom:1px solid #eee;}
  #review_tablebox table td:nth-of-type(3) {width: 150px; text-align:center; border-bottom:1px solid #eee;}
  #review_tablebox table td:last-of-type {width: 150px; text-align:center; border-bottom:1px solid #eee;}

  #review > #detail_tablebox > button {width: 1190px; height: 450px; margin:0 auto; text-align:center;}
  #review > #detail_tablebox > button:hover{cursor:pointer;}
  #review > #detail_tableblx > table {display:inline-block; margin:0px auto; border-top:1px solid #333;
  line-height:50px; width:1190px; font-size:13px; color:#333;}

  .review_box {width:1190px; height:200px; margin:0 auto; border-top:1px solid #ddd;  position:relative; clear:left;}
  .review_box:hover {cursor:pointer;}
  #review h2 {font-size:18px; float:left; margin:0px 0 13px 0px; }
  .review_box h1 {font-size: 22px; color:#ffcc00; display: block; float:left; font-family: "YanoljaYacheR"; margin-top:30px;}
  .review_box h3 {font-size: 16px; color:#000;   display: inline-block;font-family:"S-CoreDream-4Regular"; margin:0 0 0 10px; margin-top:32px;}
  .review_box p {width:50%; height:60px; margin-top:10px; font-size: 14px; color:#000; font-family:"S-CoreDream-4Regular";  }
  .review_box h5 {font-size: 14px; color:#5c5b5b; font-family:"S-CoreDream-3Light";   float:left; margin-top:-17px;}
  .review_box p:nth-of-type(2) {width:50%; height:20px; font-size: 12px; color:#e66456;  font-family: "S-CoreDream-5Medium";  margin-top:20px; clear:both;}
  .review_box p:nth-of-type(2):hover {color:#000; cursor:pointer;}
  .review_box h4 {font-size: 13px; color:#000; 
  font-family:"S-CoreDream-3Light"; line-height:20px; margin-top:0px; position:absolute; bottom:30px; right:0px;}
  .review_box img {display:inline-block; width:120px; height:123px;position:absolute; top:0; right:0; margin-top:20px;}
  
  #review button {font-family:"S-CoreDream-4Regular"; float:right; margin:25px 0px; 
    width:100px; height:35px; color:#fff; font-size:12px; background-color:#333; border:1px solid #ddd;}
  #review button:hover {opacity:0.5;cursor:pointer;}
 




  
  #inquiry{width:1190px; height:480px; margin:70px auto; font-family:"S-CoreDream-4Regular";}
  #inquiryg ul {width:1190px; height: 80px; margin:40px auto 0px;}
  #inquiry ul > li {width: 297px; height:50px; background-color:#eee;
  float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd;
  border-bottom:1px solid #000; font-size:13px;}
  #inquiry > ul > li:nth-of-type(3) {background-color:#fff; border:1px solid
  #000; border-bottom:none;}

  
#inquiry_tablebox table th {width:80px; border-bottom:1px solid #eee; color:#333}
#inquiry_tablebox table td:first-of-type {width:770px; border-bottom:1px solid #eee;}
#inquiry_tablebox table td:first-of-type > a {color:#333;}
#inquiry_tablebox table td:nth-of-type(2) {width:80px; text-align:center; border-bottom:1px solid #eee;}
#inquiry_tablebox table td:nth-of-type(3) {width:120px; text-align:center; border-bottom:1px solid #eee;}
#inquiry_tablebox table td:last-of-type {width:150px; text-align:center; border-bottom:1px solid #eee;}
#inquiry button {font-family:"S-CoreDream-4Regular"; float:right; margin:25px 0px; 
  width:100px; height:35px; color:#fff; font-size:12px; background-color:#333; border:1px solid #ddd;}
#inquiry button:hover {opacity:0.5; cursor:pointer;}
#inquiry_h3 {font-size:18px; float:left; margin:27px 0 13px 0px; }
#inquiry_tablebox:hover {cursor:pointer;}
#inquiry > #inquiry_tablebox {width:1190px; height:450px; margin:0 auto; text-align:center;}
#inquiry > #inquiry_tablebox > table {display:inline-block; margin:0px 
auto; border-top:1px solid #333; line-height:50px; width:1190px; font-size:13px; color:#333;}


#shipping{width:1190px; height:400px; margin:70px auto; font-family:"S-CoreDream-4Regular";}
#shipping> ul {width:1190px; height: 80px; margin:40px auto 0px;}
#shipping> ul > li {width: 297px; height:50px; background-color:#eee;
float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd;
border-bottom:1px solid #000; font-size:13px;}
#shipping> ul > li:last-child {background-color:#fff; border:1px solid
#000; border-bottom:none;}


#shipping_tablebox {width:1190px; height: 700px; margin:0 auto; display:block; border-top:none solid#ddd; }
#shipping_tablebox > h4 {font-family:"S-CoreDream-4Regular"; font-size:18px; margin:0px 0 0 0px;}
#shipping_tablebox > p {font-family:"S-CoreDream-4Regular"; font-size:16px; margin:4px 0 0 0px;}
#shipping_tablebox > table {display:block; margin:10px 0 0 0px; }
#shipping_tablebox > table th {font-size:13px; width:250px; background-color:#f1f1f1; padding:0 0 0 0px; text-align:center;}
#shipping_tablebox > table td {font-size:13px; text-align:left; width:940px; background-color:#f9f9f9; padding:23px; line-height: 27px;}




